*{
	margin: 0;
	padding: 0;
	border: 0;
}


input{
	position:static;
	
	width: 20%;
	padding-bottom: 5px;
}

.regler>sinput{
	margin-left: 10%;
	margin-right: 10%;
	display: none;
}

#imageDiv{
	diaplay: none;
	width:100%;
	height:auto;
	position:static;
	background-color:red;
}

#imageDiv>.slides{
	
	width:20%;
	height:auto;
	float:left;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-left: 2.33%;
	padding-right: 2.33%;
	border-bottom: #000000 3px solid;
	border-top: #000000 3px solid;
}

#imageDiv>.slides:hover{
width:20.5%;
}

#regler{
	display:none;
	position:static;
<<<<<<< HEAD:web/styleshit.css
	background-color:white;
=======

>>>>>>> 99d7209816e7d0fc7232c78ddcff1be1fa3d108b:web/styles.css
}

/*
*
*Kontroller der einzigen Settings
*
*/
#waldKont{
	display: none;
}
#landKont{
	display: none;
}
#stadtKont{
	display: none;
}
#wetterKont{
	display: none;
}
#instrKont{
	display: none;
}

/*
*
*Farbige Hintergründe 
*
*/
#imgWald{
	background-color:green;
}
#imgLand{
	background-color:yellow;
}
#imgStadt{
	background-color:gray;
}
#imgManuell{
	background-color: blue;
}

/*
*
*Begrüßungstext zentriert
*
*/
.home{
text-align:center;
}	


@media screen and (max-width: 768px){
	
	
	
	
	.slides{
		width:100%;
	}
}
